body {
  background-color: #0055dd;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
}

#button {
  grid-column: 2/4;
  width: 100px;
  height: 50px;
  font-size: 20px;
  transition: ease-in-out .2s;
}

#button:hover{
  background-color: green;
}

#button:not(:hover){

}

.vlakje {
  grid-column: 3/4;
  background-color: red;
  width: 8em;
  height: 5em;
  transition: transform .6s cubic-bezier(.17,.67,.71,1.29)
}

.vlakje--schuif-uit {
  transform: translateX(43vw);
}

#vlak-2 {
  transition-delay: .1s;
  background-color: yellow;
}

#vlak-3 {
  transition-delay: .2s;
  background-color: black;
}

#vlak-4{
  transition-delay: .3s;
  background-color: white;
}

#vlak-5{
  transition-delay: .4s;
  background-color: orange;
}
